@model IEnumerable<UniversidadeDiego.Models.Estudante>

@{
    ViewData["Title"] = "Painel de alunos";
}

<h1>Painel de alunos</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo Aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobreNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.EstudanteID">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.EstudanteID">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EstudanteID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
