@model UniversidadeDiego.Models.Curso

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do curso</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditos)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CursoID">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
