@model IEnumerable<UniversidadeDiego.Models.Instrutor>

@{
    ViewData["Title"] = "Painel de Instrutores";
}

<h1>Painel de Instrutores</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo Instrutor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                Idade
            </th>
            <th>
                Turno Atual
            </th>
            <th>
                Matricula
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurnoAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.InstrutorID">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.InstrutorID">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.InstrutorID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
